language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

env:
    global:
        - TEST_COMMAND="phpunit"
    matrix:
        - SYMFONY_VERSION=2.8.*

matrix:
    fast_finish: true
    include:
        - php: 5.5
          env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" SYMFONY_VERSION=2.3.* COVERAGE=true TEST_COMMAND="phpunit --coverage-text --coverage-clover=build/coverage.xml"
        - php: 5.6
          env: SYMFONY_VERSION=2.3.*
        - php: 5.6
          env: SYMFONY_VERSION=2.7.*
        - php: 5.6
          env: SYMFONY_VERSION=3.0.*

before_install:
  - travis_retry composer self-update

install:
  - composer require symfony/dependency-injection:${SYMFONY_VERSION} --no-update
  - composer update ${COMPOSER_FLAGS} --prefer-source --no-interaction

script:
  - $TEST_COMMAND

after_success:
  - if [[ "$COVERAGE" = true ]]; then pip install --user codecov && codecov ; fi
